<% @posts.each do |post| %>
  <div>
    <%= post.user.name %>
    <%= post.content %>
    <%= image_tag(post.image_url, style: "width: 100px;") %>
    <div id="favorite-button-<%= post.id %>">
      <%= render partial: 'posts/favorite', locals: { post: post} %>
    </div>
  </div>
<% end %>