<!DOCTYPE html>
<html>
  <head>
    <title>Imazuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="<%= javascript_path 'application' %>" type="module" data-turbo-track="reload"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="p-2 bg-success d-flex align-items-center gap-1">
    <% if user_signed_in? %>
      <div>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-light" %>
      </div>
      <div><%= button_to '新規投稿', new_post_path, class: "btn btn-light", method: :get %></div>
    <% else %>
      <div class=""><%= button_to 'ログイン', new_user_session_path, class: "btn btn-light", method: :get %></div>
      <div><%= button_to '新規登録', new_user_registration_path, class: "btn btn-light", method: :get %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
